body {
  margin: 0;
}
header {
  background-color: rgb(7, 7, 157);
  color: aliceblue;
  height: 80px;
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}
section {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
